source https://nuget.org/api/v2

nuget DotNetZip
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget OpenCover
nuget ReportGenerator
nuget SourceLink.Fake
nuget coveralls.net

github fsharp/FAKE modules/Octokit/Octokit.fsx