source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget OpenCover
nuget ReportGenerator
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx